/*FONTS IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
/*ALL*/
*{
    color-scheme:rgb(177,47,47);
    color-scheme: rgb(138, 136, 137);
margin: 10px;
}
h2{
    font-family: 'Bebas Neue', cursive;  
}
/*INFO HEADER*/
header{
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(177, 47, 47);
    color: cornsilk;
    text-shadow:0 0 1px rgb(31, 31, 31);
    padding: 30px;
}
.header1{
    font-size: 27px;
    margin-left: 30px;
}
.header2{
    text-align-last: right;
    font-size: 20px;
}

#notransmision{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 17px;
}

.parte2{ display: flex; 
}


#subgrupo1{float: left;
    width:40%;
    
}
#subgrupo2{float: right;
    width:60%;
background-color: rgb(223, 223, 223);
height: 500px;
margin-top: 20px;
}
/*CARTEL CONDON*/
.condon{ 
    background-image: url(../img/copia.jpg);
    width: 1250px; 
    height: 473px;
    margin-left: 30px;
}    
#letradentro{
    text-align: center;
    padding: 200px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(61, 61, 61);
    font-size: 40px;
    text-shadow: 0 0 3px rgb(190, 190, 190);
}

/*PARTE 3 CUADROS */
.enunciadoss{
    margin-top: 40px;
    margin-left: 40px;
}
.cuadrosinfo{
    display: flex;
}
#cuadro1{
    float: left;
    width: 50%;
}
#cuadro2 {
    float: right;
    width:52%; 
}
table{
    background-color: rgb(240, 240, 240);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    padding: 20px;
}
.lembra{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bolder;
}
/*QUE NON PODEMOS ESQUECER FOOTER*/
.esquecer{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 20px;
    display: flex;
    background-image: url(../img/virus.jpg);
}
.lista1{
flex: 50%;
}
.lista2{
flex: 50%;
}
    