/* RESET UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* IMAGEN FONDO */
body {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(../img/fondo.webp);
  background-position: center;
  overflow: hidden;
}

.container {
  background: rgb(255, 254, 254);
  width: 700px;
  height: 450px;
  margin: 15%; 
  margin-top: 10px;
  border-radius: 20px;
}

.box {
  margin: 10%;
 
}

label {

  font-family: Verdana;
  font-size: 16px;
}

br {
  margin-top: 10px;
}

h2 {
  padding-top: 20px;
  color: rgb(62, 106, 156);
  font-size: 30px;
}

.btn {
  margin-left: 250px;
  margin-top: 1%;
  padding: 2%;
  font-size: 13px;
  font-family: Verdana ;
  font-weight: bold;
  color: rgba(33, 29, 246, 0.671);
  border-radius: 100px;
  border-color: rgb(103, 146, 240);
}
.btn:hover{
  transform: scale(1.1);
  background-color: rgba(103, 124, 246, 0.712);
}