@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    height: 100%;
}

body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.first {
    margin: 30px;
    text-align: justify;
}

main {
    flex: 1 0 auto;
}