* {
  margin: 0;
  padding: 0;
}

/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");

body {
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  font-family: 'Shippori Antique', sans-serif;
  
}

/* AJUSTES LETRA */

h1 {
  font-size: 35px;
  flex: 1;
  text-transform: uppercase;
  color: rgb(159, 23, 223);
  
}

h3 {
  line-height: 1.7em;
  color: rgb(105, 90, 119);
}

p {
  color: rgb(54, 53, 75);
  font-size: 14px;
}

/* Product Layout */

.filter {
  display: flex;
  padding: 30px 0;
}

.sort {
  display: flex;
  align-self: flex-end;
}

.collection {
  display: flex;
  flex-direction: column;
}

.collection:first-child {
  padding-right: 20px;
}

label {
  font-size: 10px;
  line-height: 2em;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;

  padding: 2%;
  flex: 1 16%;

  background-color: #fff;
  
}
.product-card:hover{
  transform: scale(1.03);

}

.image img {
  width: 100%;
}

.data {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}

/* MEDIA QUERIES  */

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
  
  .products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  .filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}



/* CAMBIO DE IMAGEN FIRST CHILD */
.product-card:nth-child(1) img{
display:none;
}

.product-card:nth-child(1) {
  background: url(https://i.blogs.es/b6d918/el-motivo-chevron-regresa-mas-retro-que-nunca-con-las-chaquetas-coloridas-de-bershka-1-/450_1000.jpg) center no-repeat;
  border-radius: 20px;
  
}
.product-card:nth-child(3) h3::after{
  display: inline;
  background-color: rgb(246, 246, 246);
  color: rgb(172, 119, 221);
  margin-bottom: 10px;
  margin-right: 15%;
  padding: 2px 10px;
  font-size: 1.625em;
  line-height: 1.34;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  font-weight: 400;
  letter-spacing: 0.1em;
  white-space: normal;
  text-transform: uppercase;
  visibility: visible;
  text-align: left;
  content: 'Sales now!';
  position: absolute;
  top: 55%;
  left: 5%;
  box-sizing: content-box;
}

.product-card:nth-child(3) p::after{
  display: inline;
  color: rgba(53, 53, 53, 0.76);
  background-color: rgb(224, 211, 224);
  margin-bottom: 10px;
  margin-right: 15%;
  padding: 2px 10px;
  font-size: 1em;
  line-height: 1.34;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  font-weight: 700;
  letter-spacing: 0.1em;
  white-space: normal;
  text-transform: uppercase;
  visibility: visible;
  text-align: left;
  content: 'See All';
  position: absolute;
  top: 77%;
  left: 20%;
  box-sizing: content-box;
}
.product-card:nth-child(1){
  font-size: 40px;
  
}
.product-card:nth-child(10){
  display: none;
}